<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>In construction, please wait...</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-xlarge" %>
  </br>
  </br>
  <p><a class="btn btn-lg" href="#" role="button">Learn more</a></p>
</div>
          