
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

body {
  background-color: #f1f1f1;
  color: #424958;
}

.navbar-fixed-top {
  position: absolute;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  padding-top: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #f1f1f1;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ccc;
}

.navbar-inverse .container {
  max-width: 78%;
}

ul.nav {
  font-family: 'Arvo', courier, serif;
}

ul.nav {
  font-size: 13px;
}

#code {
  float: left;
}

#logo {
  font-family: 'Arvo', serif;
  font-size: 23px;
  color: #f1f1f1;
}

#logo:hover {
  color: #ccc;
}

#items {
  list-style: none;
  padding: 0;
      font-weight: 400;
    font-size: 15px;
        line-height: 40px;
}
#items li .fa {
    position: relative;
    color: #51c1b1;
    padding-right: 15px;
    font-size: 21px;
    top: 2px;

}

.sub-p {
    font-size: 13px;
    line-height: 1.9;
}

#what h3{
    text-align: center;
  margin-bottom: 50px;
  color: #51c1b1;
  font-family: "Open Sans",sans-serif;
  font-size: 30px;
  font-weight: 300;
}

#what button {
  display: block;
  margin: auto;
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid #51c1b1;
  color: #51c1b1;

  margin-bottom: 50px;
}

#what button:hover {
  color: white;
  background-color: #51c1b1;
}

#want {
  background: url("meeting.jpg");
  min-height: 450px;
  padding-top: 128px;
  color: white;
}

#want .btn {
  background-color: transparent;
  border: 1px solid white;
  display: block;
  margin: auto;
  vertical-align: middle;
  margin-top: 66px;
  width: 210px;
}

#want .btn:hover {
  background-color: white;
  color: #51c1b1;
}

.mentor-info {
  margin-top: -90px;
}

.mentor-info img {
  border-radius: 100px;
  margin-bottom: 48px;
}

.mentor-info h5, p, h4 {
  color: #424958;;
  margin-bottom: 18px;
}

.mentor-info h4 {
  margin-top: 50px;
  margin-bottom: 33px;
}

.mentor-info i {
  color: #51c1b1;
}

.mentor-info .available {
  margin-top: 30px;
}

.mentor-info .available:hover {
  background-color: transparent;
  border: 1px solid #51C1B1;
  color: #51C1B1;
}

.mentor-info .available:focus {
  background-color: transparent;
  border: 1px solid #51C1B1;  
  color: #51C1B1;
}

.page-title {
  min-height: 380px;
  background: linear-gradient(rgba(66,73,88,.8),rgba(66,73,88,.8)),url("class.jpg") no-repeat center;
  margin-top: -20px;
  background-size: cover;
  color: white;
}

.page-title h3 {
  padding-top: 118px;
  font-size: 29px;  
}

.page-title h4 {
  margin-bottom: 10px;
  color: #51c1b1;
}


.dash-title {
  min-height: 380px;
  background: linear-gradient(rgba(66,73,88,.1),rgba(66,73,88,.8)),url("dash.jpg") no-repeat center;
  margin-top: -20px;
  background-size: cover;
  color: white;
}

.dash-title h3 {
  padding-top: 118px;
  font-size: 29px;  
}

.dash-title h4 {
  margin-bottom: 10px;
  color: #51c1b1;
}

.dash-title p {
  color: white;
}

#get-involved {
      font-family: "Open Sans",sans-serif;
}

#back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#back-to-top a {
  color: #333;
}

.jumbotron {
  background: linear-gradient(rgba(66,73,88,.8),rgba(66,73,88,.8)),url("home-2.jpg") center center;
  position: relative;
  background-size: cover;
  height: 100vh;
  color: white;
  padding-top: 230px;
}

.jumbotron .container {
  max-width: 78%;
}

.jumbotron h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  font-size: 42px;
}

.jumbotron p {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

.btn {
  
  border-radius: 2px;
  color: white;
  font-size: 17px;
  padding: 10px 35px 10px 35px;
  background-color: #51c1b1; 
}

.more {
  margin-left: 24px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 17px;
  padding: 10px 35px 10px 35px;
}

.more:hover {
  color: #51c1b1;
}

#laptop img {
  max-width: 80%;
}

.square {
  padding-top: 15px;
  background-color: #fff;
  margin-top: -200px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),0 2px 3px 0 rgba(0,0,0,.1);  
  padding-bottom: 15px;
  margin-bottom: 200px;
}

.square-2 {
  padding-top: 15px;
  background-color: #fff;
  margin-top: -145px;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),0 2px 3px 0 rgba(0,0,0,.1);  
  padding-bottom: 15px;
}

.structure {
  background-color: #fff;
  margin-top: -183px;
  border-radius: 2px;  
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1),0 2px 3px 0 rgba(0,0,0,.1);    
  margin-bottom: 250px;
}

.panel {
    background-color: transparent;
    margin-bottom: 80px;
}

.panel img {
  border-radius: 100px;
  z-index: 30;
  position: relative;
}

.panel h4 {
  margin-top: 20px;  
  margin-bottom: 30px;
}

#time-1 {
  display: inline-block;
}

#time-2 {
display: inline-block;
}

#time-3 {
  display: inline-block;
}

.times {
  margin-bottom: 40px;
}

.times p span {
  margin-right: 30px;
}

#mentors {
  margin-top: -80px;
}

#mentors .info {
    background-color: #fff;
    padding-top: 62px;
    z-index: 20;
    height: 385px;
    margin-top: -60px;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1),0 2px 3px 0 rgba(0,0,0,0.1);   
    position: relative; 
}

#mentors .info h6 {
  margin-top: 30px;
}

#mentors .space {
  margin-bottom: 23px;
}


#mentors .text p {
  padding: 10px 20px;
}

#mentors .disp {
    height: 77px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-top: 6px;
}

#mentors .boton {
    position: absolute;
    width: 80%;
    border: 1px solid;
    top: 12px;
    padding: 11px;
    left: 10%;
}

#mentors .boton:hover {
    background-color: transparent;
    border: 1px solid #51C1B1;
    color: #51C1B1;
}

#container_times .span-2 {
  padding-left: 30px;
}

.homepage {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.homepage h2, h3 {
  font-family: "Open Sans",sans-serif;
}

.homepage h2 {
    color: #51c1b1;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

.homepage h3 {
  font-size: 21px;
}

.homepage p {
  font-size: 15px;
  text-align: left;
}

.fa-inverse {
  color: #f1f1f1;
}

.homepage a {
 
}

.homepage a:hover {

}

#mentors-list {
	text-align: center;
}

.add-time {
  margin-top: 50px;
  margin-bottom: 20px;
}

.box {
  margin: 15px 0px;
  border-bottom: 1px solid #424958;;
}

#dashboard {
  margin-top: 45px;
}

.table {
  text-align: center;
}

#mentor-title {
  margin-left: 30px;
}

#error_explanation .alert {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}

#error_explanation ul {
  list-style: none;
  line-height: 24px;
  padding-left: 0px;
  text-align: center;
}
/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* sidebar */

aside {
  section.user-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

section .user-gravatar img {
  border-radius: 2px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.navbar-form .form-group {
  margin-bottom: -14px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* User show */

.expert-link {
  padding-top: 20px;
}

.table {
  margin-bottom: 0px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.user-gravatar {
  margin-bottom: 20px;
}

.alert {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#footer {
    background-color: #424958;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    padding: 0;
    font-size: 12px;
    font-weight: 200;
    margin-top: 70px;
    min-height: 200px;
    padding-top: 40px;    
}

#footer ul {
  list-style: none;
}

#footer ul a {
  color: #fff;
  font: 200 14px "Open Sans",sans-serif;
  line-height: 30px;
}

#footer .btn {
  margin-top: 20px;
}

#footer-logo {
  padding-bottom: 20px;
  padding-top: 60px;
}

#footer-logo-2 a {
    font-family: 'Arvo', serif;
    color: white;
    font-size: 16px;

}

#footer-logo-2 {
  padding-bottom: 10px;
}

#footer .text-right {
  padding-top: 40px; 
}

#end-footer {
  height: 60px;
  background: rgba(255,255,255,.1);

}

#end-footer .col-sm-8 {
  padding-top: 30px;
  text-align: right;
}

#end-footer .col-sm-4 {
  padding-top: 30px;
}

/* Responsive Styling */

@media (max-width: 1199px) { 

  .jumbotron h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }

}

@media (max-width: 991px) { 


  .jumbotron h1 {
    font-size: 44px;
  }

  .jumbotron p {
    padding: 0 10px;
  }

  #get-involved .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

@media (max-width: 767px) { 

  .jumbotron h1 {
    font-size: 24px;
  }

  .jumbotron p {
    font-size: 16px;
    padding: 0;
  }

  .btn-lg {
    font-size: 18px;
  }

  .homepage p {
    font-size: 18px;
  }

}

.table {
  margin-bottom: 55px;
}
