<footer>
  <div class="container">
    <p>CODEmentorship</p>
    <p id="subtitle">A_Comunity_to_a_Better_path
  </div>
  <div id="back-to-top">
    <a href="#jumbotron"><i class="fa fa-chevron-circle-up fa-3x"></i></a>
  </div>
</footer>